{{ $token := ((($.Site.Data.api.telegram.token) | base64Decode) | default "") }}
{{ $chat := (split ($.Site.Data.api.telegram.chat.name) ",") }}
{{ $ts := (now.Unix) }}
{{ $headers := (dict
"User-Agent" (($.Site.Data.api.user_agent) | default "")
) }}

{{ $data := (newScratch) }}
{{ ($data.Add "tg_chat_info" slice) }}

{{ with $chat }}
    {{ range . }}
        {{ $info := (getJSON "https://api.telegram.org/bot" ($token) "/getChat?chat_id=@" . "&ts=" ($ts) ($headers)) }}
        {{ $members_count := (getJSON "https://api.telegram.org/bot" ($token) "/getChatMemberCount?chat_id=@" . "&ts=" ($ts) ($headers)) }}

        {{ ($data.Add "tg_chat_info" (dict
        "id" (($info.result.id) | int)
        "title" ($info.result.title)
        "username" ($info.result.username)
        "type" ($info.result.type)
        "invite_link" ($info.result.invite_link)
        "description" ($info.result.description)
        "linked_chat_id" (($info.result.linked_chat_id) | int)
        "members_count" ($members_count.result)
        "photo" (dict
        "small_file_id" ($info.result.photo.small_file_id)
        "small_file_unique_id" ($info.result.photo.small_file_unique_id)
        "big_file_id" ($info.result.photo.big_file_id)
        "big_file_unique_id" ($info.result.photo.big_file_unique_id)
        )
        )) }}
    {{ end }}
{{ end }}

<article>
  <h2 id="chats" class="text-center text-uppercase border-bottom pb-1 mb-3">
    <a href="#chats">{{ (i18n "tg.chats") }}</a>
  </h2>

    {{ with ($data.Get "tg_chat_info") }}

      <div class="row row-cols-1 row-cols-lg-2 g-3">

          {{ range . }}

              {{ $url := (printf "https://t.me/%s" (.username)) }}

              <div class="col">
                <article class="card h-100">
                  <h5 class="card-header clearfix">
                    <a href="{{ $url }}" target="_blank" rel="noopener noreferrer">{{ (.title) }}</a>
                    <span class="badge bg-secondary float-end">{{ (.type) }}</span>
                  </h5>
                  <div class="row g-0 h-100">
                    <div class="col">
                      <div class="card-body">
                        <div class="node-body">
                            {{ ((.description) | markdownify) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-muted">
                    <ul class="list-inline m-0">

                        {{ with (.members_count) }}
                          <li title='{{ (i18n "tg.members") }}' class="list-inline-item">
                            <a class="btn btn-light btn-sm text-muted" href="{{ $url }}" target="_blank" rel="noopener noreferrer" role="button">
                              <i class="fas fa-user fa-fw me-1"></i>
                                {{ . }}
                            </a>
                          </li>
                        {{ end }}

                    </ul>
                  </div>
                </article>
              </div>

          {{ end }}

      </div>

    {{ end }}

</article>
