{{ define "main" }}

  <div class="section py-3 py-md-4">
    <div class="container">

        {{ (partial "breadcrumb" .) }}

      <div class="row row-cols-1 row-cols-lg-2 g-3">
          {{ range (.Paginator.Pages) }}
            <div class="col">
              <article class="card node-{{ (.Type) }} h-100">
                <h5 class="card-header">
                  <a href="{{ (.RelPermalink) }}">{{ (.Title) }}</a>
                </h5>
                <div class="card-body">
                  <div class="node-body">
                      {{ (.Render "summary") }}
                  </div>
                </div>
              </article>
            </div>
          {{ end }}
      </div>

        {{ (partial "pagination" .) }}

    </div>
  </div>

{{ end }}
