{{ $p := ($.Paginator) }}

{{ if (gt ($p.TotalPages) (1)) }}

  <nav class="mt-5">
    <ul class="pagination justify-content-center">

        {{ if (and (ne ($p.PageNumber) (1)) (ne ($p.PageNumber) (2))) }}
          <li class="page-item">
            <a class="page-link" href="{{ ($p.First.URL) }}">
              <i class="fas fa-angle-double-left fa-fw"></i>
            </a>
          </li>
        {{ else }}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
              <i class="fas fa-angle-double-left fa-fw"></i>
            </a>
          </li>
        {{ end }}

        {{ if ($p.HasPrev) }}
          <li class="page-item">
            <a class="page-link" href="{{ ($p.Prev.URL) }}">
              <i class="fas fa-angle-left fa-fw"></i>
            </a>
          </li>
        {{ else }}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
              <i class="fas fa-angle-left fa-fw"></i>
            </a>
          </li>
        {{ end }}

      <li class="page-item disabled">
        <a class="page-link font-weight-bold" href="#" tabindex="-1" aria-disabled="true">
            {{ ($p.PageNumber) }} / {{ ($p.TotalPages) }}
        </a>
      </li>

        {{ if ($p.HasNext) }}
          <li class="page-item">
            <a class="page-link" href="{{ ($p.Next.URL) }}">
              <i class="fas fa-angle-right fa-fw"></i>
            </a>
          </li>
        {{ else }}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
              <i class="fas fa-angle-right fa-fw"></i>
            </a>
          </li>
        {{ end }}

        {{ if (and (ne ($p.PageNumber) ($p.TotalPages)) ((ne ($p.PageNumber) (sub ($p.TotalPages) (1))))) }}
          <li class="page-item">
            <a class="page-link" href="{{ ($p.Last.URL) }}">
              <i class="fas fa-angle-double-right fa-fw"></i>
            </a>
          </li>
        {{ else }}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
              <i class="fas fa-angle-double-right fa-fw"></i>
            </a>
          </li>
        {{ end }}

    </ul>
  </nav>

{{ end }}
