{{ $styles := ($.Site.Data.ui.styles) }}

<!--[ css: vendor-external ]-->
{{ with ($styles.vendor.external) }}
    {{ range . }}
      <link rel="preload" href="{{ . }}" as="style" crossorigin="anonymous"/>
      <link rel="stylesheet" href="{{ . }}" crossorigin="anonymous"/>
    {{ end }}
{{ end }}
<!--[ / css: vendor-external ]-->

<!--[ css: vendor-internal ]-->
{{ with ($styles.vendor.internal) }}
    {{ $bundle := slice }}
    {{ range . }}
        {{ $bundle = (($bundle) | append (resources.Get .)) }}
    {{ end }}

    {{ $bundle = (($bundle) | resources.Concat "css/vendor.bundle.scss") }}
    {{ $bundle = ((($bundle) | toCSS) | minify) }}

    <link rel="preload" href="{{ ($bundle.RelPermalink) }}" as="style"/>
    <link rel="stylesheet" href="{{ ($bundle.RelPermalink) }}"/>
{{ end }}
<!--[ / css: vendor-internal ]-->

<!--[ css: ui-internal ]-->
{{ with ($styles.system.internal) }}
    {{ $bundle := slice }}
    {{ range . }}
        {{ $bundle = (($bundle) | append (resources.Get .)) }}
    {{ end }}

    {{ $bundle = (($bundle) | resources.Concat "css/system.bundle.scss") }}
    {{ $bundle = (($bundle) | resources.ExecuteAsTemplate ("css/system.bundle.scss" | relLangURL) .) }}
    {{ $bundle = ((($bundle) | toCSS) | minify) }}

    <link rel="preload" href="{{ ($bundle.RelPermalink) }}" as="style"/>
    <link rel="stylesheet" href="{{ ($bundle.RelPermalink) }}"/>
{{ end }}
<!--[ / css: ui-internal ]-->
